/* Reseteo de CSS */

body {
    font-family: "Playfair Display", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    /* Posicionar en fila */
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: whitesmoke;
    color: #458d45;


}

header nav ul {
    list-style: none;
    /* quitar viñetas */
    display: flex;
    /* Posicionar en fila */
    gap: 1rem;
}


/* Color para los vínculos ya clickeados del header */

.header-link:visited {
    color: black;

}

.link-dark:visited {
    color: whitesmoke;

}

.titulo-principal-underlined {
    text-decoration: underline;

}

main {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    text-align: center;
    background-color: whitesmoke;
    color: whitesmoke;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0;
    object-fit: contain;
}

.populares {
    background-color: rgb(151, 7, 7);
    justify-content: space-around;
    text-align: center;
    ;
}

.popular-uno {
    background-color: whitesmoke;
    color: black;
}

.popular-dos {
    background-color: whitesmoke;
    color: black;
}


.ultima-uno {
    background-color: whitesmoke;
    color: black;
}

.ultima-dos {
    background-color: whitesmoke;
    color: black;
}

.ultimas {
    background-color: rgb(226, 192, 0);
    color: whitesmoke;

}

.tienda-uno {
    background-color: whitesmoke;
    color: black;
}

.tienda-dos {
    background-color: whitesmoke;
    color: black;
}

.tienda {
    background-color: rgb(1, 83, 1);
}


.receta  {
    background-color: rgb(1, 83, 1);
}

@media screen and (min-width: 850px) {
    
    main {
    
        margin-left: 2rem;
        margin-right: 2rem;
    }
    
}

@media screen and (min-width: 1010px)
{
    
    main {
        grid-template-columns: (2, 1fr);
    }
    
} 





footer {
    display: flex;
    padding: 10px;
    background-color: #f0f0f0;
    color: #458d45;
}